@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("https://images5.alphacoders.com/478/478768.jpg");
}

.nav-links {

  background-image: url("https://images5.alphacoders.com/478/478768.jpg");
  color: black
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}

.nav-links a:hover {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
} 

/* home page */

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 600px;
}

.box h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.box p {
  font-size: 1.2em;
}


/* 3000/login page */ 

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('https://www.austinchronicle.com/binary/720b/caged.jpg'); */
  background-image: url("https://images5.alphacoders.com/478/478768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #0000;
  padding: 20px;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
border: 1px solid black;
}

h1 {
  text-align: center;
}


/* sign up page */

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://images5.alphacoders.com/478/478768.jpg");
  background-color: black;

}

/* home page */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white
}